body {
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: auto;
}

header {
    border-bottom: 8px solid #999999;
    padding: 20px 40px;
}

h1 {
    font-size: 32px;
    font-weight: 800;
}

.highlight {
    color: #339966;
}

.card {
    margin: 40px auto;
    background: #FFFFFF;
    padding: 20px;
    border-bottom: 8px solid #999999;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.banner {
    background: #FFBF00;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}
