body {
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    width: 768px;
    margin: auto;
}

header {
    border-bottom: 6px solid #999999;
    padding: 10px 20px;
}

h1 {
    font-size: 28px;
    font-weight: 800;
}

.highlight {
    color: #339966;
}

.card {
    margin: 20px auto;
    background: #FFFFFF;
    padding: 15px;
    border-bottom: 6px solid #999999;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.banner {
    background: #FFBF00;
    padding: 8px 16px;
    font-weight: 800;
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}
