body {
  font-family: Arial, sans-serif;
  background-color: #A7A8CD;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container1 {
  position: relative;
  background: #A7A8CD;
  border-radius: 10px;
  width: 420px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.5);
}

.card-container {
  position: relative;
  background: #fff;
  border-radius: 10px;
  width: 520px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.badge {
  position: absolute;
  top: 10px;
  left: -15px;
  background: #FDF1B5;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px 55px 55px 5px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 1;
}

.card {
  text-align: center;
}

.watch-image {
  width: 100%;
  border-bottom: 2px solid #ddd; /
}

.details-section {
  padding: 15px;
  text-align: left;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Times New Roman', Times, serif;
}

.series {
  font-weight: normal;
  font-size: 16px;
  color: #555;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
}
